
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Animals</title>
    <link rel="stylesheet" href="/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <h1>Animal App Website</h1>
    <!-- page specific stuff goes here -->
    <!-- SUPER SECRET RUBY METHOD -->
    <%= yield %>
    <!-- END SUPER SECRET RUBY METHOD -->
  </body>
</html>
